@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
  box-sizing:border-box;
   text-decoration:none ;
   font-size: 17px;
}
*:focus{
  border: black solid 2px;
}
body{
    background: #ffdcdc;
  font-family: "Inter", sans-serif;
  line-height:1.9;
}
h1{
  font-size: 48px;
}
h2{
  font-size:36px;
}
h3{
  font-size: 24px;
}
header{
  background-color: rgb(181, 255, 255);
  text-align: center;
  color: grey;
  margin: 0;
  border-radius: 25px;
  padding-top: 20px;
}
header nav{
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-right: 30px;
  font-weight: 700;
}
header nav a{
    color: rgb(175, 4, 4);
    margin-bottom: 26px;
    font-size: 20px;
    transition: color 0.5s ease;

}
header nav a:hover{
  color:rgb(255, 166, 0) ;
}
main{
  max-width:1500px;
   margin: 0 auto;
   text-align: center;

}

main section{
  display:flex;
 align-items: center;
 flex-direction: column;
 margin: 30px 0;
 width: 100%;
  background-color: rgb(255, 214, 255);
  border-radius: 40px;
  max-height:1000px


}
main section img.me{
  width: 400px;
  height: 400px;
  border:3px dashed black;
  border-radius: 50%;
}
section .btn{
  background-color: rgb(228, 140, 140);
  padding: 5px;
  border: 4px solid rgba(0, 0, 0,0.1);
  border-radius: 15px;
    transition: transform 0.4s ease-in-out;
    margin-bottom: 10px;

}

section .btn a{
  color: rgb(115, 255, 255);
  font-weight: 600  ;
}
section .btn a:focus{
  border:none
}
section .btn:hover{
  transform: translateY(-10px);

}
footer{
  opacity: 0.3;
}
footer a{
  color: #00a6ff;
font-weight: 700;
font-size: 23px;
}
footer a:hover{
  text-decoration: underline;
}
main section ol, main section ul{
  display: flex;
  flex-direction: column;
  text-align: start;

}
main section:nth-child(odd){
  background-color: #00a6ff;
}
main section .game-images{
  height: 100%;
}
.game-images{
  display: flex;
  align-items: center;
  gap: 10px;
}

.game-images img:first-child{
  height: 200px;
  border: 3px solid black;
  border-radius: 15px;
  margin-left: 10px;
}
.game-images img:nth-child(2){
  height:300px ;
  border: 3px solid black;
  border-radius: 15px;
}
.game-images img:nth-child(3){
  height:400px ;
  border: 3px solid black;
  border-radius: 15px;
}
.game-images img:nth-child(4){
  height:500px ;
  border: 3px solid black;
  border-radius: 15px;
  margin-left: 5px;
}
section p.game-description{
  text-align: start;
  margin-right: 5px;
}
main section .board-games{
  display: flex;
  flex-direction: row;

}
main section .board-games .subsection{
  flex: 1;
}
main section .board-games .subsection p{
  text-align:start;
  margin-left: 10px;
}
main section .board-games .subsection:last-child{
  display: flex;
  align-items: center;
  flex-direction: column;
}